<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443162624639-gb2ep48pin4bgprpsa0bu38nfej5aio8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443162624639-gb2ep48pin4bgprpsa0bu38nfej5aio8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443162624639-rft4fs41nt1evrkj7lt5iq0ct5h1cthl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkWviZPvlGK-a4JYFBTR8FDF-qa5rVvWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>443162624639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.flutter.hunt-app</string>
	<key>PROJECT_ID</key>
	<string>hunt-app-ef3f2</string>
	<key>STORAGE_BUCKET</key>
	<string>hunt-app-ef3f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443162624639:ios:69f5fcdc919c6e5d47754a</string>
</dict>
</plist>